{% url 'login' as path_to_login %}
{% url 'logout' as path_to_logout %}
{% url 'register' as path_to_register %}

{% url 'products:product_list' as path_to_product_list %}
{% url 'posts:myposts' as path_to_myposts %}
{% url 'profiles:myprofile' as path_to_my_profile %}
{% url 'profiles:my-invites' as path_to_my_invites %}
{% url 'profiles:invite-profiles' as path_to_invites %}
{% url 'profiles:all-profiles' as path_to_all_profiles %}

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path_to_product_list }}">Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path_to_product_list }}">Store</a>
      </li>
 
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a href="#"class="btn btn-warning">Login</a>
      <a href="">
        <i class="fas fa-shopping-cart text-dark mx-2"></i>
      </a>
      <!-- <p id="cart-total">{{cartItems}}</p> -->

    </div>
  </div>
</nav>