{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
      <div class="box-element p-4" id="form-wrapper">
        <h1>{% trans "Checkout" %}</h1>
        <div class="form-group">
          <form method="post" class="order-form">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary d-block" value="{% trans 'Place order' %}">
          </form>
        </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="order-info box-element">
      <a href="{% url 'cart:cart_detail' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
      <hr>
      <div class="border-bottom border-primary box-element pb-5" style="background-color:#eee; border-width: 3px !important;">        
        <h3>{% trans "Order Summery" %}</h3>
        <hr>
        <ul>
          {% for item in cart %}
          <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span class="float-right">${{ item.total_price|floatformat:2 }}</span>
          </li>
          {% endfor %}
          {% if cart.coupon %}
            <li>
              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                "{{ code }}" ({{ discount }}% off)
              {% endblocktrans %}
              <span class="num neg float-right">- ${{ cart.get_discount|floatformat:2 }}</span>
            </li>
          {% endif %}
        </ul>
        <p class="border-bottom border-primary num float-right" style="border-width: 4px !important;">
          <strong> {% trans "Total" %}: ${{ cart.get_total_price_after_discount|floatformat:2 }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}