{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}  
  {% if category %}
    {{ category.name }}
  {% else %} 
    {% trans "Products" %}
  {% endif %}
{% endblock title %}

{% block content %}
<div class="row">   
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Categories' %} <i class="fas fa-list"></i>
          </a>
          <div class="dropdown-menu border border-dark" aria-labelledby="navbarDropdownMenuLink">
            {% for c in categories %}
              <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </nav>

    <h1 class="m-2 text-center container">{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h1>
    {% for product in products %}
      <div class="col-md-6 col-lg-4">
        <a href="{{ product.get_absolute_url }}">                
          <img src="{{ product.image.url }}" alt="product_pic" class="thumbnail rounded">
        </a>
        <div class="box-element product">
            <a class="text-decoration-none" href="{{ product.get_absolute_url }}">
              <strong class="text-capitalize">{{ product.name }}</strong>
            </a>
          <hr>

          <p>{{ product.description|truncatewords:20|linebreaks }}</p>
          <a class="btn btn-outline-success rounded" href="{{ product.get_absolute_url }}">{% trans "View" %}</a>
          <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
  
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
  